.form__button-radio-input {
  display: none;
}

.form__button-radio-group {
  font-size: 0;
}

.form__button-radio-text {
  display: inline-block;
  border: 1px solid #9EA9B9;
  border-radius: 40px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-right: 13px;
  margin-bottom: 22px;

  .form__button-radio-input:checked + & {
    background-color: #4992ff;
    border-color: #4992ff;
    color: white;
  }

  .form__button-radio:last-child & {
    margin-right: 0;
  }
}